[submodule "glid_3_xl_stable"]
	path = glid_3_xl_stable
	url = https://github.com/lkwq007/glid_3_xl_stable.git
[submodule "PyPatchMatch"]
	path = PyPatchMatch
	url = https://github.com/lkwq007/PyPatchMatch.git
[submodule "sd_grpcserver"]
	path = sd_grpcserver
	url = https://github.com/lkwq007/sd_grpcserver.git
[submodule "blip_model"]
	path = blip_model
	url = https://github.com/lkwq007/blip_model
